.chatContainer{
    margin: 0.5% 0% 0% auto;
    width: 80%;
    height: 500px;
    background: rgb(10, 10, 10);
    overflow-x: hidden;
}

.chatScroller{
    padding: 2%;
    height: 90%;
    width: 90%;
    overflow: auto;
}

.messageContainer{
    line-height: 1;
    padding: 0.5%
}