.chatContainer{
    margin: 0.5% 0% 0% auto;
    width: 80%;
    height: 500px;
    background: rgb(10, 10, 10);
    overflow-x: hidden;
}

.inputContainer{
    margin-left: auto;
    width: 80%;
    height: 100px;
    background: rgb(64, 64, 64);
    overflow-x: hidden;
}

#inputField{
    background: inherit;
    width: 100%;
    height: 100%;
    overflow: inherit;
    color: rgb(220, 220, 220);
}
