
.AIContainer{
    height: 300px;
    width: 100%;
    margin-top: 1%;
    background: rgb(20, 20, 20);
    overflow-y: hidden;
    overflow-x: auto;
}

.sideScroller{
    height: 100%;
    width: 200%;
}

.AIChar{
    margin: 0.53%;
    height: 91%;
    width: 8%;
    background: rgb(64, 64, 64);
    text-align: center;
    line-height: 1;
    float: left;
}

.AIPicture{
    margin: 3% auto;
    width: 100px;
    height: 100px;
    background: inherit;
}

a, a:visited {
    color: inherit;
}