body{
    background: rgb(42, 42, 42);
    color:rgb(255,255,255);
    height: 100%;
    margin: 0;
    padding:2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner{
    background-color:black;
    color: rgb(255,255,255);
    width: 100%;
}

.bannerText{
    text-align: center;
    font-size: 29px;
}

.main {
  margin-top: 2%;
  width: 100%;
  align-self: flex-start;
  overflow: auto;
}

.titleText{
    font-size: 29px;
}

.AIContainer{
    height: 300px;
    width: 100%;
    margin-top: 1%;
    background: rgb(20, 20, 20);
    overflow-y: hidden;
    overflow-x: auto;
}

.sideScroller{
    height: 100%;
    width: 200%;
}

.AIChar{
    margin: 0.53%;
    height: 91%;
    width: 8%;
    background: rgb(64, 64, 64);
    text-align: center;
    line-height: 1;
    float: left;
}

.AIPicture{
    margin: 0% auto;
    width: 100px;
    height: 100px;
    background: rgb(124, 124, 124)
}