<!DOCTYPE html>
<html lang="en">
  <head>
    <head><meta http-equiv="Content-Type" content="text/plain; charset=utf-8"/></head>
    <title>Home</title>
    <link rel="stylesheet" href="static/css/base.css" />
    <link rel="stylesheet" href="static/css/chat.css" />
  </head>
    <body>
      <div class="main">
        <div class="chatContainer">
          <div class="chatScroller">
            <div class="messageContainer">LMAOOAOAOOAOAOOA</div>
            <div class="messageContainer">UR MOM</div>
            <div class="messageContainer">C:
              xd<br> kk
            </div>
          </div>
        </div>
      </div>
    </body>
</html>