<!DOCTYPE html>
<html lang="en">
  <head>
    <head><meta http-equiv="Content-Type" content="text/plain; charset=utf-8"/></head>
    <title>Home</title>
    <link rel="stylesheet" href="static/main.css" />
  </head>
    <body>
      <div class="banner">
          <div class="bannerText">
              Temp
          </div>
      </div>
      <div class="main">
        <div class="titleText">
          QRRR:
        </div>
        <div class="AIContainer">
          <div class="sideScroller">
            <a href='chat'><div class="AIChar">
              <div class="titleText">Sen</div>
              <div class="AIPicture"><img src='/static/images/senProfile.png', width=100%, height=100%></div>
              Retarded CS Workaholic
            </div></a>
            <a href='chat'><div class="AIChar">
              <div class="titleText">Vignes</div>
              <div class="AIPicture"><img src='/static/images/vignesProfile.png', width=100%, height=100%></div>
              The Virgin lmao
            </div></a>
            <a href='chat'><div class="AIChar">
              <div class="titleText">Binku</div>
              <div class="AIPicture"><img src='/static/images/binkuProfile.png', width=100%, height=100%></div>
              The Vignes Cocksucker
            </div></a>
            <a href='chat'><div class="AIChar">
              <div class="titleText">Suhas</div>
              <div class="AIPicture"><img src='/static/images/suhasProfile.png', width=100%, height=100%></div>
              Harbringer of FTM
            </div></a>
            <a href='chat'><div class="AIChar">
              <div class="titleText">Kaz</div>
              <div class="AIPicture"><img src='/static/images/kazProfile.png', width=100%, height=100%></div>
              Old Fuck
            </div></a>
            <a href='chat'><div class="AIChar">
              <div class="titleText">Kics</div>
              <div class="AIPicture"><img src='/static/images/kicsProfile.png', width=100%, height=100%></div>
              Fucking Retarded
            </div></a>
            <a href='chat'><div class="AIChar">
              <div class="titleText">Destiny</div>
              <div class="AIPicture"><img src='/static/images/destinyProfile.png', width=100%, height=100%></div>
              Some Gaming Nerd IDK
            </div></a>
            <a href='chat'><div class="AIChar">
              <div class="titleText">Ho</div>
              <div class="AIPicture"><img src='/static/images/hoProfile.png', width=100%, height=100%></div>
              Resident Femboy and Cumdump
            </div></a>
            <a href='chat'><div class="AIChar">
              <div class="titleText">Yusuke</div>
              <div class="AIPicture"><img src='/static/images/yusukeProfile.png', width=100%, height=100%></div>
              Abusive Alcoholic Father
            </div></a>
            <a href='chat'><div class="AIChar">
              <div class="titleText">Overlord</div>
              <div class="AIPicture"><img src='/static/images/overlordProfile.png', width=100%, height=100%></div>
              Number One Fucking Nerd
            </div></a>
            <a href='chat'><div class="AIChar">
              <div class="titleText">Orenji</div>
              <div class="AIPicture"><img src='/static/images/orenjiProfile.png', width=100%, height=100%></div>
              Orange
            </div></a>
          </div>
        </div>
      </div>
    </body>
</html>